@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
}
body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWQnAx5ZQWUM2gSXoR-cW_brkgt1nrs2dgkQ&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
 

}
h1{
   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(227, 203, 250);
}
.titulo{
    display: flex;
    background-color: black;
    width: 100%;
    height: 15vh;
    align-items: center;
    justify-content: center;
}
.cajaprincipal{
    
    text-align: center;
    width: 50%;
    margin: 6% 0 0 26% ;
    background-color: rgb(241, 241, 252);
    height: 50vh;
    border-radius:2%;
    }
.ladoarriba{
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.ladoabajo{
    margin: 0;
    display: flex;
    flex-direction: row; 
    align-items: flex-end;
}
.caja{
    background-color: rgb(255, 255, 255);
margin: 4%;
padding: 3%;
border-radius: 6%;
width: 20%;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
i{
    color: black;
}



.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}

.modals{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}
.modali{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}

.modalt{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}

.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}

.modal_container{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 2em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition:var(--transition);
}

.modal_title{
    width: 100%;
    font-size: 2.5rem;
    background-color: #1e3c72;
    color: white;
}

.cerrar{
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 1em 3em;
    border: 1px solid ;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}
.cerrari{
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 1em 3em;
    border: 1px solid ;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}
.cerrart{
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 1em 3em;
    border: 1px solid ;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}



.modal_close{
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 1em 3em;
    border: 1px solid ;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}

.modal_close:hover{
    color: #6439fd;
    background-color: #fff;
}
